<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yonyou.marketing.service.user.daos.SysMenuBtnDtoMapper" >
  <resultMap id="BaseResultMap" type="yonyou.marketing.api.user.entity.SysMenuBtnDto" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="menuid" property="menuid" jdbcType="INTEGER" />
    <result column="btnName" property="btnname" jdbcType="VARCHAR" />
    <result column="btnType" property="btntype" jdbcType="VARCHAR" />
    <result column="actionUrls" property="actionurls" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, menuid, btnName, btnType, actionUrls
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="yonyou.marketing.api.user.entity.SysMenuBtnDtoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_menu_btn
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_menu_btn
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_menu_btn
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="yonyou.marketing.api.user.entity.SysMenuBtnDtoExample" >
    delete from sys_menu_btn
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="yonyou.marketing.api.user.entity.SysMenuBtnDto" >
    insert into sys_menu_btn (id, menuid, btnName, 
      btnType, actionUrls)
    values (#{id,jdbcType=INTEGER}, #{menuid,jdbcType=INTEGER}, #{btnname,jdbcType=VARCHAR}, 
      #{btntype,jdbcType=VARCHAR}, #{actionurls,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="yonyou.marketing.api.user.entity.SysMenuBtnDto" >
    insert into sys_menu_btn
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menuid != null" >
        menuid,
      </if>
      <if test="btnname != null" >
        btnName,
      </if>
      <if test="btntype != null" >
        btnType,
      </if>
      <if test="actionurls != null" >
        actionUrls,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuid != null" >
        #{menuid,jdbcType=INTEGER},
      </if>
      <if test="btnname != null" >
        #{btnname,jdbcType=VARCHAR},
      </if>
      <if test="btntype != null" >
        #{btntype,jdbcType=VARCHAR},
      </if>
      <if test="actionurls != null" >
        #{actionurls,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="yonyou.marketing.api.user.entity.SysMenuBtnDtoExample" resultType="java.lang.Integer" >
    select count(*) from sys_menu_btn
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_menu_btn
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.menuid != null" >
        menuid = #{record.menuid,jdbcType=INTEGER},
      </if>
      <if test="record.btnname != null" >
        btnName = #{record.btnname,jdbcType=VARCHAR},
      </if>
      <if test="record.btntype != null" >
        btnType = #{record.btntype,jdbcType=VARCHAR},
      </if>
      <if test="record.actionurls != null" >
        actionUrls = #{record.actionurls,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_menu_btn
    set id = #{record.id,jdbcType=INTEGER},
      menuid = #{record.menuid,jdbcType=INTEGER},
      btnName = #{record.btnname,jdbcType=VARCHAR},
      btnType = #{record.btntype,jdbcType=VARCHAR},
      actionUrls = #{record.actionurls,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="yonyou.marketing.api.user.entity.SysMenuBtnDto" >
    update sys_menu_btn
    <set >
      <if test="menuid != null" >
        menuid = #{menuid,jdbcType=INTEGER},
      </if>
      <if test="btnname != null" >
        btnName = #{btnname,jdbcType=VARCHAR},
      </if>
      <if test="btntype != null" >
        btnType = #{btntype,jdbcType=VARCHAR},
      </if>
      <if test="actionurls != null" >
        actionUrls = #{actionurls,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="yonyou.marketing.api.user.entity.SysMenuBtnDto" >
    update sys_menu_btn
    set menuid = #{menuid,jdbcType=INTEGER},
      btnName = #{btnname,jdbcType=VARCHAR},
      btnType = #{btntype,jdbcType=VARCHAR},
      actionUrls = #{actionurls,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>