.ui-login{float: right;padding: 10px}
.ui-login a{color:#fff000}
.ui-login .ui-login-bar{text-align: right;}

.menu-item{display:block;color:black;text-decoration: none;	border-bottom :1px dotted #D8D8D8;padding:5px 5px 5px 15px;}
.menu-item:hover{background: #E0ECFF;} 